.index-title {
  height: 21px;
  font-size: 0.36rem;
  font-family: PingFang-SC-Bold, PingFang-SC;
  font-weight: 700;
  color: #333;
  line-height: 21px;
}
.index-box {
  width: 100%;
  background-color: #fff;
  border-radius: 0.24rem;
  padding: 0.48rem 0.24rem 0;
  margin-bottom: 0.2rem;
  box-sizing: border-box;
}
.one-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.two-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
